In [43]:
import pandas as pd
import mysql.connector
import re
from sqlalchemy import create_engine
from googleapiclient.discovery import build
from googleapiclient.errors import HttpError

In [44]:
#Drop database used here if any error happened in data types of the table created 
mydb = mysql.connector.connect(host="localhost",user="root",password="12345")

mycursor = mydb.cursor(buffered=True)

mycursor.execute('drop database if exists youtube_data')

In [45]:
#Used Google API key to fetch the data from youtube 
def Api_connector():
    apikey="AIzaSyB2x4ulIMkrGcj1DK-oS0HL198zos0w658"
    api_service_name = "youtube"
    api_version = "v3"
    youtube=build(api_service_name,api_version,developerKey=apikey)
    return youtube
youtube=Api_connector()

In [46]:
#created the function to fetch the channel deatils
def channel_info(channel_id):
    request = youtube.channels().list(
                    part="snippet,contentDetails,statistics",
                    id=channel_id
    )
    response = request.execute()
    data = {
                        "Channel_Name": response["items"][0]["snippet"]["title"],
                        "Channel_Id": response["items"][0]["id"],
                        "Channel_Des": response["items"][0]["snippet"]["description"],
                        "Channel_playid": response["items"][0]["contentDetails"]["relatedPlaylists"]["uploads"],
                        "channel_viewcount": response["items"][0]["statistics"]["viewCount"],
                        "channel_subcount": response["items"][0]["statistics"]["subscriberCount"]
                         }
    df=pd.DataFrame(data,index=[0])
    return df
#Fetched data inserted into MYSQL database using mysql connector
def eachchanneldetails(channel_ids):

    mydb = mysql.connector.connect(host="localhost",user="root",password="12345")
    mycursor = mydb.cursor(buffered=True)

    connection_str = f"mysql+mysqlconnector://root:12345@localhost/youtube_data"
    engine = create_engine(connection_str)
    
    mycursor.execute('create database if not exists youtube_data')
    mycursor.execute('USE youtube_data')
    mycursor.execute('''create table if not exists channels(channel_name VARCHAR(100),channel_id VARCHAR(100),
                                                            channel_des TEXT,channel_playid VARCHAR(50), 
                                                            channel_viewcount BIGINT, channel_subcount BIGINT)''')
    mydb.commit()
    
    for channel_id in channel_ids:
        df=channel_info(channel_id)
        df.to_sql(name='channels', con=engine, if_exists='append', index=False)
    mycursor.close()
    mydb.close()
    
channel_ids = ['UCmkmFXzjSfJd-8fVcWXRWTA']

eachchanneldetails(channel_ids)

In [47]:
#Fetch the video ids from playlist id using Channel id
def playlist_videos_id(channel_ids):
    all_video_ids=[]
    for channels_id in channel_ids:
        videos_ids=[]
        response = youtube.channels().list(
        part="contentDetails",
        id=channels_id
        ).execute()
        playlist_Id=response["items"][0]["contentDetails"]["relatedPlaylists"]["uploads"]
    
        nextPageToken=None
    
        while True:
            response2 = youtube.playlistItems().list(
               part="snippet",
               playlistId=playlist_Id,maxResults=50,
               pageToken=nextPageToken).execute()
            for i in range(len(response2["items"])):
               videos_ids.append(response2["items"][i]["snippet"]["resourceId"]["videoId"])
            nextPageToken=response2.get("nextPageToken")
            
            if nextPageToken is None:
               break
        all_video_ids.extend(videos_ids)        
    return all_video_ids

#Function for converting the hours to Seconds  
def iso8601_duration_to_seconds(duration):
    match = re.match(r'^PT(?:(\d+)H)?(?:(\d+)M)?(?:(\d+)S)?$', duration)
    if not match:
        return None

    hours = int(match.group(1)) if match.group(1) else 0
    minutes = int(match.group(2)) if match.group(2) else 0
    seconds = int(match.group(3)) if match.group(3) else 0

    total_seconds = (hours * 3600) + (minutes * 60) + seconds
    return total_seconds

#Function to fetch the video datas from video id    
def videos_data(all_video_ids):
    video_info=[]
    for each in all_video_ids:
        request = youtube.videos().list(
            part='snippet,contentDetails,statistics',
            id=each
            
        )
        response = request.execute()
        for i in response["items"]:
            given= {
                       "Video_Id":i["id"] ,
                       "Video_Title":i["snippet"]["title"],
                       "Video_Description":i["snippet"]["description"],
                       "Channel_id":i['snippet']['channelId'],
                       "video_Tags": i['snippet'].get("Tags",0),
                       "video_Pubdate":i["snippet"]["publishedAt"],
                       "Video_viewcount":i["statistics"]["viewCount"],
                       "Video_likecount":i["statistics"].get('likeCount',0) ,
                       "Video_favoritecount":i["statistics"]["favoriteCount"],
                       "Video_commentcount":i["statistics"].get("Comment_Count",0),
                       "Video_duration":iso8601_duration_to_seconds(i["contentDetails"]["duration"]),
                       "Video_thumbnails":i["snippet"]["thumbnails"]['default']['url'],
                       "Video_caption":i["contentDetails"]["caption"]
            }
                   
            video_info.append(given)
    df1=pd.DataFrame(video_info)    
    return df1

allvideo_ids=playlist_videos_id(channel_ids)
df1=videos_data(allvideo_ids)


#Fetched data inserted into MYSQL database using mysql connector
mydb = mysql.connector.connect(host="localhost",user="root",password="12345")

mycursor = mydb.cursor(buffered=True)

connection_str = f"mysql+mysqlconnector://root:12345@localhost/youtube_data"
engine = create_engine(connection_str)

mycursor.execute('use youtube_data')
mycursor.execute('''create table if not exists videos (Video_Id VARCHAR(50),
                 Video_title VARCHAR(200), Video_Description TEXT,channel_id VARCHAR(50),video_tags TEXT, Video_pubdate VARCHAR(200),
                 Video_viewcount BIGINT, Video_likecount BIGINT,
                 Video_favoritecount INT(15), Video_commentcount BIGINT, 
                 Video_duration INT,Video_thumbnails TEXT, Video_caption VARCHAR(10)
                  )''')
mydb.commit()

df1.to_sql(name='videos', con=engine, if_exists='append', index=False)

mycursor.close()
mydb.close()

In [48]:
# Function to fetch comments from all video IDs
def comments_inf(allvideo_ids):
    commentdata = []
    try:
        for video in allvideo_ids:
            print(f"Fetching comments for Video ID: {video}")  # Debugging print
            nextpagetoken = None
            while True:
                try:
                    request = youtube.commentThreads().list(
                        part="snippet",
                        videoId=video,
                        maxResults=50,
                        textFormat="plainText",  # âœ… Explicit text format
                        pageToken=nextpagetoken
                    )
                    response = request.execute()

                    for k, all in enumerate(response["items"]):
                        given = {
                            "Comment_Id": all["snippet"]["topLevelComment"]["id"],
                            "Comment_Text": all["snippet"]["topLevelComment"]["snippet"]["textDisplay"],
                            "Comment_Authorname": all["snippet"]["topLevelComment"]["snippet"]["authorDisplayName"],
                            "published_date": all["snippet"]["topLevelComment"]["snippet"]["publishedAt"],
                            "video_id": video,  # âœ… Ensure correct video_id usage
                            "channel_id": all["snippet"]["topLevelComment"]["snippet"]["authorChannelId"]["value"]  # âœ… Fix incorrect access
                        }
                        commentdata.append(given)

                    nextpagetoken = response.get('nextPageToken')
                    if nextpagetoken is None:
                        break

                except HttpError as e:
                    if e.resp.status == 403:
                        print(f"Comments are disabled for Video ID: {video}")
                        break
                    elif e.resp.status == 400:
                        print(f"Invalid request for Video ID: {video}. Skipping...")
                        break
                    else:
                        raise
    except Exception as e:
        print(f"An error occurred: {e}")

    df2 = pd.DataFrame(commentdata)
    return df2

# Call the function
df2 = comments_inf(allvideo_ids)

Fetching comments for Video ID: 42OMxcsuA00
Fetching comments for Video ID: hZeuciiDOqw
Fetching comments for Video ID: sWgciNFhshc
Fetching comments for Video ID: hCCBPnsfKps
Fetching comments for Video ID: Bg8Mahx_pT0
Fetching comments for Video ID: KRN-iGrNcqo
Fetching comments for Video ID: F0TCR063dnI
Fetching comments for Video ID: 5L5Yp56HKHM
Fetching comments for Video ID: 1QWY7a3Kv7U
Fetching comments for Video ID: _fwMBEBZffY
Fetching comments for Video ID: puIYwHlYWVE
Fetching comments for Video ID: zrr4oBvqsgg
Fetching comments for Video ID: peOuP5YRhQU
Fetching comments for Video ID: iIkD6AbQOBU
Fetching comments for Video ID: gnrdqgqBO3o
Fetching comments for Video ID: 6uGIomkm1H0
Fetching comments for Video ID: JWd5UxrraZE
Fetching comments for Video ID: jb51PD3ubBE
Fetching comments for Video ID: vRpLBMpjiB0
Fetching comments for Video ID: qzejZG9vyo8
Fetching comments for Video ID: cP-Qj0-h0Os
Fetching comments for Video ID: FYpK0fgRiy0
Fetching comments for Video ID: rsM66qGx-PM
Comments are disabled for Video ID: rsM66qGx-PM
Fetching comments for Video ID: EQnJ1XPl--E
Fetching comments for Video ID: EQGDv5OWhE0
Comments are disabled for Video ID: EQGDv5OWhE0
Fetching comments for Video ID: HfUyYktRuOc
Fetching comments for Video ID: 163ZzxF9wZM

In [49]:
#Fetched data inserted into MYSQL database using mysql connector
from tabulate import tabulate 
# Connect to MySQL
mydb = mysql.connector.connect(host="localhost", user="root", password='12345')
mycursor = mydb.cursor()

# Use the database
mycursor.execute("USE youtube_data")

# Fetch video titles and channel names
mycursor.execute("""
    SELECT Video_title, channel_name 
    FROM videos 
    JOIN channels ON channels.channel_id = videos.channel_id;
""")

data = mycursor.fetchall()

# Print table using tabulate
print(tabulate(data, headers=[i[0] for i in mycursor.description], tablefmt='psql'))

+--------------------------------------------------------------------------------+-----------------+
| Video_title                                                                    | channel_name    |
|--------------------------------------------------------------------------------+-----------------|
| OLD IS GOLDðŸª©â­ #dance #dancer #stage #retro                                   | Sharvesh Covers |
| KANCHANAðŸ˜ˆ #dance #stage                                                       | Sharvesh Covers |
| Yakshagana | New Horizon college of engineering | Sargam Fest                  | Sharvesh Covers |
| Water Packetâ¤ï¸â€ðŸ”¥                                                                 | Sharvesh Covers |
| Unakku Thaan CoverðŸ¤                                                           | Sharvesh Covers |
| JOGWAðŸ™ðŸ’›                                                                      | Sharvesh Covers |
| NIRA COVERðŸ¤ðŸŽ§ | Takkar | Sid sriram | Siddharth |                             | Sharvesh Covers |
| Ennai Vittu CoverðŸ¤ | Love Today | Yuvan | Pradeep Ranganathan                 | Sharvesh Covers |
| Thenmozhi Cover | Dhanush | Anirudh | Sharvesh Covers                          | Sharvesh Covers |
| BAE Raw CoverðŸ¤ | Don | Siva Karthikeyan | Anirudh |                           | Sharvesh Covers |
| Undiporaadhey Coverâ¤ï¸ | Sid sriram | Sharvesh Covers | Telugu                  | Sharvesh Covers |
| Srivalli Cover | Pushpa | Allu Arjun | Sidsriram | Sharvesh Covers             | Sharvesh Covers |
| Naan Pizhai Cover | Anirudh | Vijay Sethupathi | Sharvesh Cover                | Sharvesh Covers |
| JAB TAK Cover | MS Dhoni - The Untold Story | Arman Malik | Sharvesh Covers    | Sharvesh Covers |
| Ennadi Mayavi Nee Cover | Sharvesh Cover | Sid Sriram | Dhanush | Vadachennai  | Sharvesh Covers |
| Samajavaragamana Cover | Sharvesh Cover | Ala vaikunthapurramuloo | Sid Sriram | Sharvesh Covers |
| Oru DevathaiðŸ¤ | Sharvesh Covers | Yuvan shankar raja                          | Sharvesh Covers |
| Uyire Cover | Malayalam | Sid Sriram                                           | Sharvesh Covers |
| Nee Kavithaigala â™¥ï¸ | Sharvesh Covers| Pradeep Kumar                           | Sharvesh Covers |
| RAATAAN LAMBIYAN COVER | SHERSHAAH | SIDDHARTH MALHOTRA                        | Sharvesh Covers |
| KULIRUDHA PULLA â¤ï¸ | Sid Sriram | Santhosh Narayanan | Othatha Seruppu Size 7  | Sharvesh Covers |
| MUNBE VA COVER â¤ï¸ | Sharvesh Cover | Suriya | Sillunu Oru Kadhal               | Sharvesh Covers |
| VASEEGARAÃ—ZARA ZARA | Minnale | Bombay Jayashree | Madhavan                    | Sharvesh Covers |
| HAAYAGIDE COVER | KANNADA | SID SRIRAM | TOM AND JERRY                         | Sharvesh Covers |
| Kannamma Cover | Kaala | Santhosh narayanan | Pradeep Kumar                    | Sharvesh Covers |
| KANAVE KANAVE COVER                                                            | Sharvesh Covers |
| MASTER INTERVAL SCENE RECREATION  #master #thalapathy                          | Sharvesh Covers |
+--------------------------------------------------------------------------------+-----------------+

In [50]:
#Which channels have the most number of videos, and how many videos do they have?

mydb=mysql.connector.connect(host="localhost",user="root",password='12345')
mycursor=mydb.cursor()

mycursor.execute("USE youtube_data")
mycursor.execute(""" SELECT channel_name, COUNT(video_id) AS video_count
                 FROM videos JOIN Channels ON channels.channel_id=videos.channel_id
                 GROUP BY channel_name
                 ORDER BY video_count DESC;""")

data=mycursor.fetchall()

from tabulate import tabulate
print(tabulate(data,headers=[i[0] for i in mycursor.description],  tablefmt='psql'))

+-----------------+---------------+
| channel_name    |   video_count |
|-----------------+---------------|
| Sharvesh Covers |            27 |
+-----------------+---------------+

In [51]:
#What are the top 10 most viewed videos and their respective channels? 
mydb=mysql.connector.connect(host="localhost",user="root",password="12345")
mycursor= mydb.cursor()

mycursor.execute("USE youtube_data")
mycursor.execute("""SELECT video_title,channel_name 
                   FROM videos JOIN channels ON channels.channel_id =videos.channel_id 
                   ORDER BY video_viewcount DESC 
                   LIMIT 10;""")

data=mycursor.fetchall()

from tabulate import tabulate
print(tabulate(data,headers=[i[0] for i in mycursor.description],  tablefmt='psql'))

+-------------------------------------------------------------------------------+-----------------+
| video_title                                                                   | channel_name    |
|-------------------------------------------------------------------------------+-----------------|
| Yakshagana | New Horizon college of engineering | Sargam Fest                 | Sharvesh Covers |
| KULIRUDHA PULLA â¤ï¸ | Sid Sriram | Santhosh Narayanan | Othatha Seruppu Size 7 | Sharvesh Covers |
| Naan Pizhai Cover | Anirudh | Vijay Sethupathi | Sharvesh Cover               | Sharvesh Covers |
| Ennadi Mayavi Nee Cover | Sharvesh Cover | Sid Sriram | Dhanush | Vadachennai | Sharvesh Covers |
| Thenmozhi Cover | Dhanush | Anirudh | Sharvesh Covers                         | Sharvesh Covers |
| RAATAAN LAMBIYAN COVER | SHERSHAAH | SIDDHARTH MALHOTRA                       | Sharvesh Covers |
| Water Packetâ¤ï¸â€ðŸ”¥                                                                | Sharvesh Covers |
| Nee Kavithaigala â™¥ï¸ | Sharvesh Covers| Pradeep Kumar                          | Sharvesh Covers |
| Ennai Vittu CoverðŸ¤ | Love Today | Yuvan | Pradeep Ranganathan                | Sharvesh Covers |
| KANCHANAðŸ˜ˆ #dance #stage                                                      | Sharvesh Covers |
+-------------------------------------------------------------------------------+-----------------+

In [52]:
print(df2.shape)  # Check the number of rows and columns
print(df2.head())  # Preview the first few rows

(28, 6)
                   Comment_Id  \
0  UgwMn0oVJGLMjNfCw4F4AaABAg
1  Ugw_jWdCbY3l-sl7D6Z4AaABAg
2  UgwzO5PusFAnvLDnULl4AaABAg
3  Ugy4aW2BXJNrogZHfHF4AaABAg
4  Ugwm0pgSUFibmG-VxB94AaABAg

                                        Comment_Text Comment_Authorname  \
0  This is amazing! And extremely intricate. Grea...        @swatir.567
1                                Horizonates rock ðŸ™ŒðŸ’«      @NHEE_Apoorva
2                                            Hi broðŸ˜Š     @VKvlogo-wg9qr
3                                      â¤keep going ðŸ‘   @danalakshmi5116
4                                   Sema sharvesh ma       @saralam1919

         published_date     video_id                channel_id
0  2024-12-07T18:15:18Z  sWgciNFhshc  UCc5ecJ30bIWbw4bWNlm1XYA
1  2024-12-07T18:04:05Z  sWgciNFhshc  UCqStTGABeFPTzN16RM94iVA
2  2024-09-12T11:00:11Z  hCCBPnsfKps  UCKinITvIr2DGYdRvWd6Qz5w
3  2023-07-16T07:16:55Z  F0TCR063dnI  UCNDZg1nJkntXmAPMosvxlAw
4  2022-12-07T19:39:05Z  5L5Yp56HKHM  UC0GvD6fpQuqDaRVN8SiCNDA

In [53]:
# Replace with your MySQL connection details
engine = create_engine("mysql+mysqlconnector://root:12345@localhost/youtube_data")

# Sample DataFrame (use your actual data)
df = pd.DataFrame({
    'Comment_Id': ['UgwMn0oVJGLMjNfCw4F4AaABAg'],
    'Comment_Text': ['This is amazing!'],
    'Comment_Authorname': ['@user'],
    'published_date': ['2024-12-07T18:15:18Z'],
    'video_id': ['sWgciNFhshc'],
    'channel_id': ['UCc5ecJ30bIWbw4bWNlm1XYA']
})

# Convert published_date to MySQL datetime format
df['published_date'] = pd.to_datetime(df['published_date']).dt.strftime('%Y-%m-%d %H:%M:%S')

# Convert 'published_date' column to MySQL DATETIME format
df2['published_date'] = pd.to_datetime(df2['published_date']).dt.strftime('%Y-%m-%d %H:%M:%S')

# Insert into MySQL
df.to_sql('comments', con=engine, if_exists='append', index=False)

1

In [54]:

# MySQL Connection
mydb = mysql.connector.connect(host="localhost", user="root", password="12345")
mycursor = mydb.cursor()

# Use the correct database
mycursor.execute("USE youtube_data")

# Create SQLAlchemy Engine
connection_str = "mysql+mysqlconnector://root:12345@localhost/youtube_data"
engine = create_engine(connection_str)

# Insert DataFrame into MySQL
df2.to_sql(name='comments', con=engine, if_exists='append', index=False)

print("âœ… Comments data inserted successfully!")

âœ… Comments data inserted successfully!

In [55]:
#Which videos have the highest number of likes, and what are their corresponding channel names?
import mysql.connector

mydb=mysql.connector.connect(host="localhost",user="root",password="12345")
mycursor=mydb.cursor()

mycursor.execute("USE youtube_data")
mycursor.execute("""SELECT video_title,channel_name 
                   FROM videos JOIN channels ON channels.channel_id=videos.channel_id
                   ORDER BY video_likecount DESC
                   LIMIT 1;""")

data=mycursor.fetchall()

from tabulate import tabulate
print(tabulate(data,headers=[i[0] for i in mycursor.description], tablefmt="psql"))

+---------------------------------------------------------------+-----------------+
| video_title                                                   | channel_name    |
|---------------------------------------------------------------+-----------------|
| Yakshagana | New Horizon college of engineering | Sargam Fest | Sharvesh Covers |
+---------------------------------------------------------------+-----------------+

In [56]:
#What is the total number of likes  for each video, and what are their corresponding video names?
import mysql.connector

mydb=mysql.connector.connect(host="localhost",user="root",password="12345")
mycursor=mydb.cursor()

mycursor.execute("USE youtube_data")
mycursor.execute(""" SELECT video_title, SUM(video_likecount) AS Total_likes
                  FROM videos 
                  GROUP BY Video_title;""")

data=mycursor.fetchall()

from tabulate import tabulate
print(tabulate(data,headers=[i[0] for i in mycursor.description], tablefmt="psql"))

+--------------------------------------------------------------------------------+---------------+
| video_title                                                                    |   Total_likes |
|--------------------------------------------------------------------------------+---------------|
| OLD IS GOLDðŸª©â­ #dance #dancer #stage #retro                                   |             2 |
| KANCHANAðŸ˜ˆ #dance #stage                                                       |            16 |
| Yakshagana | New Horizon college of engineering | Sargam Fest                  |            58 |
| Water Packetâ¤ï¸â€ðŸ”¥                                                                 |            20 |
| Unakku Thaan CoverðŸ¤                                                           |             4 |
| JOGWAðŸ™ðŸ’›                                                                      |             2 |
| NIRA COVERðŸ¤ðŸŽ§ | Takkar | Sid sriram | Siddharth |                             |            13 |
| Ennai Vittu CoverðŸ¤ | Love Today | Yuvan | Pradeep Ranganathan                 |            40 |
| Thenmozhi Cover | Dhanush | Anirudh | Sharvesh Covers                          |            32 |
| BAE Raw CoverðŸ¤ | Don | Siva Karthikeyan | Anirudh |                           |            25 |
| Undiporaadhey Coverâ¤ï¸ | Sid sriram | Sharvesh Covers | Telugu                  |             9 |
| Srivalli Cover | Pushpa | Allu Arjun | Sidsriram | Sharvesh Covers             |            22 |
| Naan Pizhai Cover | Anirudh | Vijay Sethupathi | Sharvesh Cover                |            43 |
| JAB TAK Cover | MS Dhoni - The Untold Story | Arman Malik | Sharvesh Covers    |            19 |
| Ennadi Mayavi Nee Cover | Sharvesh Cover | Sid Sriram | Dhanush | Vadachennai  |            44 |
| Samajavaragamana Cover | Sharvesh Cover | Ala vaikunthapurramuloo | Sid Sriram |            25 |
| Oru DevathaiðŸ¤ | Sharvesh Covers | Yuvan shankar raja                          |            37 |
| Uyire Cover | Malayalam | Sid Sriram                                           |            19 |
| Nee Kavithaigala â™¥ï¸ | Sharvesh Covers| Pradeep Kumar                           |            28 |
| RAATAAN LAMBIYAN COVER | SHERSHAAH | SIDDHARTH MALHOTRA                        |            32 |
| KULIRUDHA PULLA â¤ï¸ | Sid Sriram | Santhosh Narayanan | Othatha Seruppu Size 7  |            41 |
| MUNBE VA COVER â¤ï¸ | Sharvesh Cover | Suriya | Sillunu Oru Kadhal               |            17 |
| VASEEGARAÃ—ZARA ZARA | Minnale | Bombay Jayashree | Madhavan                    |            22 |
| HAAYAGIDE COVER | KANNADA | SID SRIRAM | TOM AND JERRY                         |            19 |
| Kannamma Cover | Kaala | Santhosh narayanan | Pradeep Kumar                    |            21 |
| KANAVE KANAVE COVER                                                            |            40 |
| MASTER INTERVAL SCENE RECREATION  #master #thalapathy                          |            29 |
+--------------------------------------------------------------------------------+---------------+

In [57]:
#What is the total number of views for each channel, and what are their corresponding channel names?
import mysql.connector

mydb=mysql.connector.connect(host="localhost",user="root",password="yourpassword")
mycursor=mydb.cursor()

mycursor.execute("USE youtube_data")
mycursor.execute(""" SELECT channel_name, SUM(video_viewcount) AS Total_views
                   FROM videos
                   JOIN channels ON channels.channel_id=videos.channel_id
                   GROUP BY channel_name;""")

data=mycursor.fetchall()

from tabulate import tabulate
print(tabulate(data,headers=[i[0] for i in mycursor.description], tablefmt="psql"))

ProgrammingError: 1045 (28000): Access denied for user 'root'@'localhost' (using password: YES)

In [ ]:
#What are the names of all the channels that have published videos in the year2022?
import mysql.connector

mydb=mysql.connector.connect(host="localhost",user="root",password="yourpassword")
mycursor=mydb.cursor()

mycursor.execute("USE youtube_data")
mycursor.execute(""" SELECT DISTINCT channel_name
                   FROM channels
                   JOIN videos ON channels.channel_id=videos.channel_id
                   WHERE video_pubdate=2022;""")

data=mycursor.fetchall()

from tabulate import tabulate
print(tabulate(data,headers=[i[0] for i in mycursor.description], tablefmt="psql"))

+----------------+
| channel_name   |
|----------------|
| SoloSign       |
+----------------+

In [ ]:
#What is the average duration of all videos in each channel, and what are their corresponding channel names?
import mysql.connector

mydb=mysql.connector.connect(host="localhost",user="root",password="yourpassword")
mycursor=mydb.cursor()

mycursor.execute("USE youtube_data")
mycursor.execute(""" SELECT channel_name, AVG(video_duration) AS Average_duration
                   FROM videos
                   JOIN channels ON videos.channel_id = channels.channel_id
                   GROUP BY channel_name;""")

data=mycursor.fetchall()

from tabulate import tabulate
print(tabulate(data,headers=[i[0] for i in mycursor.description], tablefmt="psql"))

+----------------+--------------------+
| channel_name   |   Average_duration |
|----------------+--------------------|
| SoloSign       |            146.053 |
+----------------+--------------------+

In [ ]:
#Which videos have the highest number of comments, and what are their corresponding channel names?
import mysql.connector

mydb=mysql.connector.connect(host="localhost",user="root",password="yourpassword")
mycursor=mydb.cursor()

mycursor.execute("USE youtube_data")
mycursor.execute(""" SELECT video_title,channel_name
                   FROM videos
                   JOIN channels ON videos.channel_id = channels.channel_id
                   ORDER BY Video_commentcount DESC
                   LIMIT 1;""")

data=mycursor.fetchall()

from tabulate import tabulate
print(tabulate(data,headers=[i[0] for i in mycursor.description], tablefmt="psql"))

+------------------------------------------------------------+----------------+
| video_title                                                | channel_name   |
|------------------------------------------------------------+----------------|
| Mom vs meðŸ˜‚ðŸ˜… #shorts #middleclassfamily #tamilcomedyvideo | SoloSign       |
+------------------------------------------------------------+----------------+